version: "3.9"

services:
  frontend:
    container_name: frontend
    
    build:
      context: ./frontend
      dockerfile: Dockerfile
    
    ports:
      - "5173:5173"

    volumes:
      - ./frontend:/app
      - /app/node_modules

    environment:
      - CHOKIDAR_USEPOLLING=true
    
    command: npm run dev -- --host 

  
  backend:
    container_name: backend
    
    build:
      context: ./backend
      dockerfile: Dockerfile

    ports: 
      - "8000:8000"

    volumes:
      - ./backend:/app
      - /app/node_modules

    environment:
      - NODE_ENV=development
      - PORT=8000

    command: npm run dev