@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Light mode (default) */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
