@import 'tailwindcss';

@theme inline {
  --color-background: var(--color-one);
  --color-foreground: var(--color-four);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-one: #6b4b3e;
  --color-two: #c49e85;
  --color-three: #ffd6af;
  --color-four: #f8f4f9;

  --color-five-1: #8cbcb9;
  --color-five-2: #619b8a;

  --color-six-1: #79addc;
  --color-six-2: #4381c1;
}

:root {
  --background: var(--color-four);
  --foreground: var(--color-one);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
}
