@import 'tailwindcss';

@theme inline {
  --color-background: var(--color-one);
  --color-foreground: var(--color-four);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: #f9f9f9;
  --color-blue-light: #7fc8f8;
  --color-blue-medium: #5aa9e6;
  --color-blue-dark: #18649f;
  --color-blue-black: #0b2e49;

  --color-one: #6b4b3e;
  --color-two: #c49e85;
  --color-three: #ffd6af;
  --color-four: #f8f4f9;

  --color-five-light: #cde0da;
  --color-five-medium: #619b8a;
  --color-five-dark: #2c473f;

  --color-six-light: #79addc;
  --color-six-medium: #4381c1;
  --color-six-dark: #15293f;
}

:root {
  --background: var(--color-background);
  --foreground: var(--blue-medium);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background);
    --foreground: var(--blue-medium);
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
}
